.homePage{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    .side{
        width: 20vw;
        height: calc(100vh - 50px);
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        position: fixed;
        top: 61px;
        border-right: 1px solid black;
        a{
            width: calc(90%);
            text-decoration: none;
            justify-content: left;
            padding-left: 10%;
            color: black;
            height: 30px;
            font-size: 0.6em;
            background-color: rgb(239, 239, 239);
            border-bottom:1px solid black ;
            &.active{
                background-color: red;
                color: white;
                font-weight: 500;
            }
        }
        .jsts{
            background: linear-gradient(to right ,yellow , blue);
        }
    }
    .content{
        position:absolute;
        width: calc(80vw - 10px);
        left: calc(20vw + 1px);
        top: 60px;
    }
}