.Headers{
    width: 100vw;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(45, 37, 158);
    .logo{
        width: 20%;
        background-color: rgb(5, 92, 169);
        height: 100%;
        a{
            color: white;
            text-decoration: none;
        }
    }
    .nav{
        width: 70%;
        height: 100%;
        background-color: aqua;
        a{
            width: calc(70vw/4);
            background-color: black;
            height: 100%;
            font-size: 0.7em;
            text-decoration: none;
            color: white;
            &.active{
                border-bottom: 5px solid red;
            }
            img{
                width: 15px;
                height: 15px;
            }
            h2{
                font-size: 0.9em;
                margin-left: 5px;
            }
        }
    }
    .git{
        width: 10%;
        height: 100%;
        background-color: blue;
    }
}