.Headers{
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    .logo{
        width: 20%;
        background-color: rgb(5, 92, 169);

        height: 100%;
        a{
            color: white;
            text-decoration: none;
        }
    }
    .nav{
        width: 70%;
        height: 100%;
        background-color: aqua;
        a{
            width: calc(70vw/5);
            background-color: black;
            height: 100%;
            font-size: 0.7em;
            text-decoration: none;
            color: white;
            &.active{
                border-bottom: 2px solid red;
            }
        }
    }
    .git{
        width: 10%;
        height: 100%;
        background-color: blue;
    }
}