.dl{
    width: 80vw;
    height: 300vh;
    color: black;
    h1{
        font-size: 0.7em;
    }
    .download{
        width: 100%;
        height: 70px;
        .phone{
            width: 40%;
            height: 50px;
            background-color: rgb(255, 0, 0);
            cursor: pointer;
            margin-right: 2px;
        }
        .desk{
            width: 40%;
            height: 50px;
            background-color: rgb(255, 0, 0);
            cursor: pointer;
        }
    }
    
}