.dl{
   .contents{
      flex-direction: column;
      img{
        width: 70%;
        margin: 5px 0;
      }
      
   }
   .hr{
      width: 90%;
      background-color: black;
      height: 0.5px;
      margin: 20px auto;
   }
   .cont{
      flex-direction: column;
      h1{
         margin: 2px 0;
      }
      p{
         padding:0 10%;
      }
      .code{
         width: 80%;
         height: 180px;
         background-color: black;
         border-radius: 5px;
         margin-bottom: 50px;
         p{
            color: white;
            margin-left: 15px;
            font-size: 0.8em;
            .red{
               display: block;
               color: rgb(73, 180, 210);
            }
         }
      }
   }
}