.JS{ 
    flex-direction: column;
    h1{
        border-bottom: 1px solid black;
        width: 100%;
        padding-bottom: 20px;
        margin-left: 5%;
        font-size: 40px;
        img{
            height: 40px;
            transform: translateY(5px);
        }
    }
    p{
        padding:0 5%;
    }
}